.modal {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#000000;
    padding: 10px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal-content > * {
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.modal-content {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 25px;
}

.modal-header h3 {
    width: 100%;
}

.modal-body {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-body p {
    text-align: center;
    width: 100%;
}

.modal-footer{
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 100%;
}

.close-modal-btn:hover {
    cursor: pointer;
    background-color: rgb(58, 56, 56);
}

.close-modal-btn {
    background-color: rgb(90, 86, 86);
    padding:  10px 35px 10px 35px;
    margin: 5px;
    border-radius: 5px;
    align-self: flex-end;
}
.add-modal-btn:hover {
    cursor: pointer;
    background-color: rgb(5, 99, 207);
}

.add-modal-btn {
    background-color: rgb(0, 115, 247);
    padding:  10px 35px 10px 35px;
    margin: 5px;
    border-radius: 5px;
    align-self: flex-end;
}

.container form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 kolom sama besar */
    grid-auto-rows: auto;          /* tinggi row otomatis mengikuti konten */
    gap: 10px;                      /* jarak antar item (opsional) */
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.input-group input {
    padding: 5px;
    border: 1px solid rgb(130, 130, 131);
    border-radius: 5px;
}

.input-group input:focus {
    box-shadow: 0 0 4px 1px rgb(130, 170, 255);
    border: 1px solid rgb(70, 114, 207);
    outline: none;
    transition: ease-in 200ms;
}

.message .warning {
    color: red;
}