#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table, th, td{
    border: 1px solid black;
    padding: 10px;
}
th {
    background-color: rgb(80, 167, 218);
}

table {
    /* no space between cell */
    border-collapse: collapse;
    width: 1221px;
}


/* Status Column */
.safe {
    color : green;
}
.warning {
    color: orange;
}
.danger {
    color: red;
}

/* Column event */
.clickable:hover {
    cursor: pointer;
}



/* Filter Section */

.filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.reset-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter{
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
}

.filter #input_filter{
    padding: 5px;
    border: none;
}

.filter #input_filter:focus{
    border: none;
    box-shadow: 0 0 2px 2px ;
}

.filter select {
    padding: 5px;
    border: none;
}

.filter-list {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 5px;
}

.filter-item{
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2px;
    border: 1px solid lightgray;
    border-radius: 50px;
    background-color: rgb(210, 233, 252);
}

.filter-item .cls-btn{
    display: flex;
}

.filter-item .cls-btn p {
    background-color: red;
    max-height: fit-content;
    padding: 3px;
    margin: 5px;
    border-radius: 50px;
    background-color: rgb(200, 213, 224);
}

.filter #cb_label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-filter {
    display: flex;
    flex-direction: column;
}


/* Button */
.btn{
    background-color: lightblue;
    text-align: center;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    transition: ease-in-out 200ms;
}

.no-rad {
    border-radius: 0;
}

.btn:hover{
    background-color: rgb(137, 196, 216);
    cursor: pointer;
}

.btn-danger {
    background-color: rgb(235, 65, 65);
    padding: 5px;
    border-radius: 5px;
}

.btn-danger:hover{
    background-color: rgb(255, 0, 0);
}