<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stock.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>Informasi Bahan Ajar</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="filters">
                <div class="reset-filter">
                    <button @click="resetFilter">Reset</button>
                </div>
                <div class="filter">
                    <input list="list" v-model="filter_value" placeholder="Type filter here...">
                    <datalist id="list">
                        <option v-for="value of currentFilterList" :value="value">{{value}}</option>
                    </datalist>
                    
                    <input @click="addFilter" type="button" name="add-filter" value="Add">
                    <select name="" id="" v-model="filter_key">
                        <option value="" selected>Choose Filter</option>
                        <option value="upbjj">UPBJJ</option>
                        <option value="kategori">KATEGORI</option>
                    </select>
                </div>
                
            </div>
            <div class="filter-list" v-show="filters.length > 0">
                <h3>Current filter list</h3>
                <div v-for="value of filters" class="filter-item">
                    <div class="info">
                        {{value.key}} {{value.val}}
                    </div>
                    <div class="cls-btn">
                        <p @click="rmFilter(value.key)" class="clickable">x</p>
                    </div>
                </div>
            </div>
            <table>
                <thead >
                    <tr>
                        <th>Kode</th>
                        <th @click="sortby('nan', 'judul')" class="clickable">Judul <span class="sorting-icon"></span></th>
                        <th>Kategori</th>
                        <th>UPBJJ</th>
                        <th>Lokasi Rak</th>
                        <th @click="sortby('num', 'harga')" class="clickable">Harga <span class="sorting-icon"></span></th>
                        <th @click="sortby('num', 'qty')" class="clickable">Total <span class="sorting-icon"></span></th>
                        <th>Status</th>
                        <th>Catatan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="value of viewStock">
                        <td>{{value.kode}}</td>
                        <td>{{value.judul}}</td>
                        <td>{{value.kategori}}</td>
                        <td>{{value.upbjj}}</td>
                        <td>{{value.lokasiRak}}</td>
                        <td>Rp.{{value.harga.toLocaleString()}}</td>
                        <td><input type="number" v-model="value.qty"></td>
                        <td>
                            <p v-if="value.qty >= value.safety" class="safe">Aman</p>
                            <p v-else-if="value.qty < value.safety && value.qty > 0" class="warning">Menipis</p>
                            <p v-else class="danger">Kosong</p>
                        </td>
                        <td v-html="value.catatanHTML"></td>
                    </tr>
                    <tr v-if="viewStock.length === 0">
                        <td colspan="9" style="text-align:center; font-weight:bold;">Empty</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="js/vue.min.js"></script>
    <script src="js/stock-app.js"></script>
    <script src="/js/navbar.js"></script>
</body>
</html>